<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBuildNumber</key>
	<string>1351</string>
	<key>CFBuildVersion</key>
	<string>20.0.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>hmFree</string>
	<key>CFBundleIdentifier</key>
	<string>com.heubach-media.hmFree</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>4DCB</string>
	<key>CFBundleShortVersionString</key>
	<string>20.0.0.1351</string>
	<key>CFBundleSignature</key>
	<string>4D06</string>
	<key>CFBundleVersion</key>
	<string>20.0.0.1351</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
